@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$font-family-sans-serif: "Poppins", sans-serif;

$caramel: #c58c4f;
$caramel-light: #e2b98c;
$caramel-dark: #9c6e3f;

$white: #ffffff;
$white-seashell: #fff9f3;
$white-ghost: #f8f8ff;

$cadet-gray: #9da5b1;
$cadet-gray-light: #dfe2e8;
$cadet-gray-dark: #6e7a8a;

$sunflower: #ffc107;
$sunflower-light: #ffe082;

$misty-rose: #ffe4e1;
$rosewood: #65000b;

$emerald: #50c878;
$emerald-dark: #2a7a51;

$midnight-blue: #191970;
$sky-blue-light: #87ceeb;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: $font-family-sans-serif;
  background-color: $white;
  color: $cadet-gray;
}

.border-caramel {
  border-color: $caramel !important;
}

.bg-caramel {
  background-color: $caramel !important;
}

.btn-caramel {
  color: $white-seashell !important;
  background-color: $caramel !important;
  border-color: $caramel !important;
}

.btn-caramel :hover {
  background-color: $caramel-dark !important;
}

.btn-caramel-dark {
  color: $white-seashell !important;
  background-color: $caramel-dark !important;
  border-color: $caramel-dark !important;
}

.btn-caramel-dark :hover {
  background-color: $caramel !important;
}

.btn-caramel-light {
  color: $caramel !important;
  background-color: $caramel-light !important;
  border-color: $caramel-light !important;
}

.btn-caramel-light :hover {
  background-color: $caramel !important;
}

.button {
  background-color: $caramel;
  color: $white-seashell;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: $caramel-dark;
  }
}

.mainSection {
  color: $caramel;
}

.spinner {
  //   border: 1px solid $caramel-light;
  //   border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

// Add to custom.scss
.step-indicator {
  .border-caramel {
    border-color: $caramel !important;
  }
  .text-caramel {
    color: $caramel !important;
  }
  .spinner {
    border-color: $caramel-light;
    border-top-color: $caramel-dark;
  }
}

.text-caramel {
  color: $caramel;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05); // Slightly enlarge the button
}

.btn:hover .text-warning {
  color: #ffcc00; // Change text color on hover
}

.btn:hover .bg-warning {
  background-color: darken($sunflower, 10%); // Make background slightly darker
}

.btn:hover svg {
  transform: translateX(-5px); // Move arrow left on hover
  transition: transform 0.3s ease-in-out;
}

.step-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  min-width: 200px; /* Ensures both buttons have the same width */
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: $caramel;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: darken($caramel-light, 10%);
    transform: scale(1.05);
    color: $midnight-blue;
  }
}

.step-nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.step-nav-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
